html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    background-color: #ECEFF1;

}

.header{
  background-color: #607D8B;
  color:  white;
  width:100%;
  display:flex;
}

h1 {
  margin-left: 10px;
}

.links{
  position:absolute;
  right:0;
}

table, img {
    display: inline-block;
    vertical-align: middle;
}

th, td{
  padding: 15px;
  font-size:large;
  text-align: left;
}

tbody
{
  overflow-y: auto;
  overflow-x: hidden;
  height:190px;
  width:100%;
  margin-top:22px;
}


.footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
  background-color: #607D8B;
  color:  white;
  text-align: center;
}

.block {
  text-align: center;
  white-space: nowrap;
  height: 70vh;
}

.block:before {
  content: '';
  display: inline-block;
  height: 70%;
  vertical-align: middle;
  margin-right: -0.25em;
}

a:link, a:visited {
    background-color: white;
    color: #607D8B;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #c4c8c9;
}
